<!DOCTYPE html>
<html>
<head>
    <title>Корзина</title>
</head>
<body>
    <h1>Корзина</h1>
    {% if cart_items %}
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Сумма</th>

                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td>{{ item.name|e }}</td>
                        <td>{{ item.price|e }}</td>
                        <td>{{ item.quantity|e }}</td>
                        <td>{{ item.item_total|e }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Итого: {{ total_price|e }}</p>

    {% else %}
        <p>Корзина пуста.</p>
    {% endif %}
</body>
</html>