<!DOCTYPE html>
<html>
<head>
    <title>Список продуктов</title>
</head>
<body>

    <h1>Список продуктов</h1>
    <div id="cart-container">
        </div>
    <form id="add-to-cart-form" action="/cart" method="post">


        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>

                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name|e }}</td>
                        <td>{{ product.price|e }}</td>
                        <td>
                            <input type="number" name="quantities" value="0" min="0">
                            <input type="hidden" name="product_ids" value="{{ product.id }}">


                        </td>

                    </tr>

                {% endfor %}
<input type="number" name="recieved_amounts" value="" min="0">
            </tbody>
        </table>

        <button type="button" id="add-to-cart-button">Добавить в корзину</button>
    </form>

    <script>
        const form = document.getElementById('add-to-cart-form');
        const cartContainer = document.getElementById('cart-container');
        const addToCartButton = document.getElementById('add-to-cart-button');

        addToCartButton.addEventListener('click', async (event) => {
            event.preventDefault(); // Предотвращаем отправку формы по умолчанию

            const formData = new FormData(form);

            try {
                const response = await fetch('/cart', {
                    method: 'POST',
                    body: formData,
                });

                if (response.ok) {
                    const cartHtml = await response.text();
                    cartContainer.innerHTML = cartHtml; // Обновляем корзину на странице
                } else {
                    console.error('Ошибка при добавлении в корзину:', response.status);
                }
            } catch (error) {
                console.error('Ошибка:', error);
            }
        });
    </script>
</body>
</html>